body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td, span, img {
    padding: 0;
    margin: 0;
}

ul, dl, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-wrap-box .div-line:last-child .text-p {
    border-bottom: none;
}

.text-description {
    width: 90%;
    margin: 0.4rem auto 0;
    font-size: 0.26rem;
}

.text-description p {
    line-height: 0.35rem;
    color: #808487;
}

.weui_cell {

    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 0.28rem;
    width: 90%;
    margin: 0 auto;
    line-height: 1rem;
}

.weui_cell .arrow {
    position: absolute;
    width: 12px;
    height: 100%;
    right: 0;
}

.weui_cell .arrow img {
    width: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.weui_cell:first-child:before {
    display: none;
}

.weui_cell:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid #efefef;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.weui_label {
    display: block;
    width: 2rem;
    word-wrap: break-word;
    word-break: break-all;
}

.weui_cell_primary {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.weui_cells_form input, .weui_cells_form label[for], .weui_cells_form textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.weui_input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 1.41176471em;
    line-height: 1.41176471;
    padding: 0;
    margin: 0;
}

select:required:invalid {
    color: #a9a9a9;
}
option[value="0"][disabled] {
    display: none;
}
option {
    color: black;
}

.weui_select {
    padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weui_cells_form .weui_cell_ft {
    font-size: 0;
}

.weui_cell_ft {
    text-align: right;
    color: #888;
}

.weui-vcode-btn {
    border-left: 1px solid #e5e5e5 !important;
    color: #4FB053;
    display: inline-block;
    font-size: 0.3rem;
    /*height: 44px;*/
    line-height: 1rem;
    margin-left: 5px;
    padding: 0 0.6em 0 0.7em;
    /*vertical-align: middle;*/
}

.jd-agreement {
    width: 90%;
    margin: 0 auto;
}

.look-credit-card{
    width: 90%;
    margin: 0 auto;
    height: auto;
    font-size: 0.25rem;
    text-align: right;
}

.look-credit-card a{
    color: #828F99;
}

.look-credit-card p{
    line-height: 0.5rem;
}

.look-credit-card i{
    display: inline-block;
    background: url("../../images/icon_wenhao.png") no-repeat;
    background-size: 100%;
    width: 0.38rem;
    height: 0.38rem;
    position: relative;
    top: 0.1rem;
    /*margin-left: 0.1rem;*/
}



